doctype html
html
    head
        title BuzzTracker

    body
    div.container
        div.head
            h1.
                BuzzTracker
        div.head.container
            h3.
                Greetings from BuzzTracker
    div.main
        div.button.container
            button(width=100, onclick="window.location.href='/routes/login'").
                Login
            button(width=100, onclick="/register").
                Register
